.c-container {
	max-width: 60rem;
	margin-left: auto;
	margin-right: auto;
	@include fluid-type( "padding-left", $small, $large, 1.5rem, 0 );
	@include fluid-type( "padding-right", $small, $large, 1.5rem, 0 );
}