
#footer--brand {
	background-color: $navbar-default-border;
	padding: 2rem 0;
	font-size: $small-font-size;
}

.footer__logo {
	width: 8em;
	float: left;
}

.footer__links {
	border-top: 1px solid $hr-border-color;
    padding-top: 1em;
    font-family: $font-family-sans-serif;
}