#header {
    font-size: 1rem;


	.navbar-default {
		margin-bottom: 0;
		@include breakpoint(sm) {
			background-color: #fff;
		}
		//border-bottom: 1px solid #ccc;
		border-bottom: 0;
	}

	.navbar-header {
		@media (min-width: 768px) {
			float: none;
		}
	}

	.main-navbar__inner-wrapper {


		@include breakpoint(sm) {
			display: flex;
	    	flex-flow: column nowrap;
	    	align-items: flex-start;
		}

		// > * {
  //   	border: 1px solid red;
  //   	}
	}

	.main-navbar__component {

	}

	.main-navbar__left {
		@include breakpoint(xs) {
			display: flex;
			justify-content: flex-start;
			padding: 1rem;
		}
		@include breakpoint(sm) {
			width: 100%;
			@include fluid-type( padding-top padding-bottom, $small, $medium, 1rem, 1rem );
		}
	}

	.main-navbar__right {
		background-color: #f8f8f8; 
		@include breakpoint(sm) {
			width: 100%;
		}
	}

	.navbar-header--left {
		padding-right: 2rem;
    	align-self: center;
    	max-width: 33rem;
	}

	.navbar-header--right {
		margin-left: auto;
	}

	.navbar-brand {
	    height: 100%;
	    float: none;
	}

	.navbar-collapse {
		@include breakpoint(sm) {
			@include fluid-type( "font-size", $screen-sm, $large, 0.75rem, 0.8rem );
			border-top: 1px solid $navbar-default-border;
    		border-bottom: 1px solid $navbar-default-border;
			
		}

		> .inner-wrapper {
			position: relative;
		}

		.search-form {
			float: none;
			@include breakpoint(sm) {
				position: absolute;
				right: 0;
			}
		}


		.navbar-nav {
			>li {
				>a {
					color: $text-color;
					@include fluid-type( padding-top padding-bottom, $small, $medium, 1rem, 1rem );

					&.active {
						background-color: rgba(0,0,0,0.05);
						//border-bottom: 2px solid $qicwd-primary;
					}

					&:hover{
						background-color: #e7e7e7;
					}

					
				}
			}
		}
	}

	.dropdown-menu {
		font-size: 1em;
	}
}

// Main menu
#main-menu {
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
    
    @include breakpoint(sm) {
    	width: 100%;
	    display: flex;
	    flex-flow: row nowrap;
	}

	> li {
		@include breakpoint(sm) {
			display: flex;
		    justify-content: flex-start;
		    flex-flow: row nowrap;
		    align-items: stretch;
		}
	}
}

#logo {
	width: 100%;
	height: auto;
	float: none;

	@media screen and (max-width:$screen-xs-max) {
		padding-left: 1rem;
	}

}


// One line header
// #header {
//     font-size: 1rem;


// 	.navbar-default {
// 		//background-color: #fff;
// 		//border-bottom: 1px solid #ccc;
// 		border-bottom: 0;
// 	}

// 	.navbar-header {
// 		@media (min-width: 768px) {
// 			float: none;
// 		}
// 	}

// 	.main-navbar__inner-wrapper {


// 		@include breakpoint(sm) {
// 			display: flex;
// 	    	flex-flow: row nowrap;
// 	    	justify-content: flex-start;
// 	    	align-items: stretch;
// 		}

// 		// > * {
//   //   	border: 1px solid red;
//   //   	}
// 	}

// 	.main-navbar__component {

// 	}

// 	.main-navbar__left {
// 		@include breakpoint(xs) {
// 			display: flex;
// 			justify-content: flex-start;
// 			padding: 1rem;
// 		}
// 		@include breakpoint(sm) {
// 			flex: 1 0 30%;
//     		align-self: center;
// 		}
// 	}

// 	.main-navbar__right {
// 		@include breakpoint(sm) {
// 			flex: 1 0 70%;
// 		}
// 	}

// 	.navbar-header--left {
// 		padding-right: 2rem;
//     	align-self: center;
//     	max-width: 22rem;
// 	}

// 	.navbar-header--right {
// 		margin-left: auto;
// 	}

// 	.navbar-brand {
// 	    height: 100%;
// 	    float: none;
// 	}

// 	.navbar-collapse {
// 		@include breakpoint(sm) {
// 			margin-left: auto;
// 			@include fluid-type( "font-size", $screen-sm, $large, 0.75rem, 1rem );
			
// 		}


// 		.navbar-nav {
// 			>li {
// 				>a {
// 					color: $text-color;
// 					@include fluid-type( padding-top padding-bottom, $small, $large, 1.6rem, 2rem );

// 					&.active {
// 						background-color: #fff;
// 						border-bottom: 2px solid$qicwd-primary;
// 					}

// 					&:hover{
// 						background-color: #e7e7e7;
// 					}

					
// 				}
// 			}
// 		}
// 	}

// 	.dropdown-menu {
// 		font-size: 1em;
// 	}
// }

// // Main menu
// #main-menu {
// 	font-family: "Montserrat", Helvetica, Arial, sans-serif;
    
//     @include breakpoint(sm) {
//     	width: 100%;
// 	    display: flex;
// 	    flex-flow: row nowrap;
// 	    justify-content: flex-end;
// 	}

// 	> li {
// 		@include breakpoint(sm) {
// 			display: flex;
// 		    justify-content: flex-start;
// 		    flex-flow: row nowrap;
// 		    align-items: stretch;
// 		}
// 	}
// }

// #logo {
// 	width: 100%;
// 	height: auto;
// 	float: none;
// }



// // logo svg
// .site-name {
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     flex-flow: row nowrap;
//     font-size: 0.9em;
//     width: 18.1em;
//     //color: $black;
//     &:before {
// 	    content: "";
// 	    display: inline-block;
// 	    flex: 1 0 8.1em;
// 	    width: 8.1em;
//     	height: 6em;
// 	    background-repeat: no-repeat;
// 	    background-size: contain;
// 	    background-position: center;
// 	    margin-right: 0.6em;
// 	}

// 	@media screen and (max-width: 340px) {
// 		font-size: 1.4rem;
// 	}
// }

// // Hamburger button and search form --------
// .header-components {
// 	@include breakpoint(xs) {
// 		display: flex;
// 		background-color: $brand-primary;
// 		width: 100%;
// 	}



// 	// Hamburger button
// 	.navbar-toggle {
// 		color: #fff;
// 		margin: 0;
// 	    border-right: 1px solid rgba(0,0,0,0.2);
// 	    padding: 15px;
// 	    border-radius: 0;

// 		.navbar-toggle__text {
// 			display: block;
// 			margin-bottom: 0.5rem;
// 		}

// 		.icon-bar {
// 		    border-radius: 0;
// 		    background-color: #fff;
// 		    margin-left: auto;
//     		margin-right: auto;
// 		}
// 	}

// 	.navbar-right {
// 		@include breakpoint(sm) {
// 			margin-right: 0;
// 		}
// 	}
// }

// // Collapse menu
// .navbar-collapse {
// 		//background-color: $edn-blue;
// 		font-size: 1.2em;

// 		@media screen and (min-width: 992px) {
// 			font-size: 1.5em;
// 		}

// 		//border-top: 1px solid darken($edn-blue, 10%);

// 		.navbar-nav {
// 			display: flex;
// 		    flex-flow: column nowrap;
// 		    justify-content: space-between;

// 		    @media screen and (min-width: 768px) {
// 				flex-direction: row;
// 			}

// 			> li {
// 				flex: 1 1 auto;

// 				@include breakpoint(xs) {
// 					//border-bottom: 1px solid darken($edn-blue, 10%);
// 				}
// 				@include breakpoint(sm) {
// 					display: flex;
// 			    	align-items: stretch;
// 			    	//border-right: 1px solid darken($edn-blue, 10%);
// 			    }

// 			    &.last {
// 			    	@include breakpoint(xs) {
// 						border-bottom: 0;
// 					}

// 					@include breakpoint(sm) {
// 				    	border-right: 0;
// 				    }
// 			    }

// 				> a {
// 					color: #fff;
// 				    //background-color: $edn-blue;

// 				    @include breakpoint(sm) {
// 				    	text-align: center;
// 				    }
// 				    &:hover {
// 				    	//background-color: darken($edn-blue, 10%);
// 				    }

// 				    &:focus {
// 				    	//background-color: darken($edn-blue, 10%);
// 				    }

// 				    .fa-caret-down {
// 				    	//@include breakpoint(sm) {
// 							display: none;
// 						//}
// 					}
// 				}

// 				&.open {
// 					> a {
// 						&:hover {
// 					    	//background-color: darken($edn-blue, 10%);
// 					    }
					    
// 						&:focus {
// 					    	//background-color: darken($edn-blue, 10%);
// 					    }
// 					}
// 				}
// 			}
// 		}

// 		.dropdown-menu {
// 			padding: 0;
// 			min-width: initial;
// 			font-size: inherit;

// 			@include breakpoint(sm) {
// 				width: 190px;
// 			}

// 			>li > a {
// 		    	//background-color: $edn-blue;
// 		    	color: #fff;
// 				white-space: normal;
// 				//border-bottom: 1px solid darken($edn-blue, 10%);

// 				&:hover {
// 			    	//background-color: darken($edn-blue, 10%);
// 			    }

// 			    &:focus {
// 			    	//background-color: darken($edn-blue, 10%);
// 			    }
// 			}
// 		}
// }

// .navbar-nav .open .dropdown-menu > li > a {
// 		padding: 1rem 2rem;
// }




