.c-hero-banner {

	display: flex;
	flex-flow: row wrap;

	@media screen and (min-width: $screen-sm) {
		position: relative;
		height: 34em;
	}

	&__content {
		width: 100%;
		order: 2;
		padding: 5% 5.6%;
		color: #fff;
		background: $qicwd-secondary;
		background: linear-gradient(to bottom, $qicwd-secondary, $qicwd-secondary-darker);
		text-shadow: 1px 1px 16px rgba(0,0,0,.5);

		@media screen and (min-width: $screen-xs) {
			position: absolute;
			z-index: 1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, rgba($qicwd-secondary,0.9), rgba($qicwd-secondary,0.8), rgba($qicwd-secondary,0.7), rgba($qicwd-secondary,0.2), rgba(255,255,255,1));
			display: flex;
			flex-flow: row wrap;
			align-items: center;

		}

		// @media screen and (min-width: $screen-md) {
		// 	bottom: 20%;
		// }
	}

	&__text {
		// font-family: $font-family-sans-serif;
		@media screen and (min-width: $screen-xs) {
			font-size: 1.1em;
		}
	}
	&__image {
		width: 100%;
		order: 1;
		opacity: 0.8;
		overflow: hidden;
		height: inherit;


		img {
			width: 100%;
			filter: contrast(80%);
		}
	}

	.btn {
		margin-bottom: 1.5em;
		margin-top: 1.5em;

		// @include mq(sm) {
		// 	@include lg1;
		// }
	}

}