#main {
	flex: 1 0 auto;
}

.centered-content {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

.inner-wrapper {
	max-width: 60rem;
	margin-left: auto;
	margin-right: auto;
	@include fluid-type( "padding-left", $screen-sm, $large, 1.5rem, 0 );
	@include fluid-type( "padding-right", $screen-sm, $large, 1.5rem, 0 );
	

	// main > & {
	// 	@include fluid-type( "padding-bottom", $screen-sm, $large, 1.5rem, 7rem );
	// }

	#header & {
	 	@include breakpoint(xs) {
	 		padding-left: 0;
	 		padding-right: 0;
	 	}
	}
}

.band--small {
	max-width: 31.25em;
	margin-left: auto;
	margin-right: auto;
}

.not-front {
	main {
		@include fluid-type( "padding-top", $small, $large, 1rem, 2rem );
	}
}



body:not(.node-type-modular-content) {
	.region-content {
		@include fluid-type( "padding-bottom", $small, $large, 2rem, 6rem );
	}
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

