#block-mailchimp-signup-subscribe-to-our-mailing-list {
	@include fluid-type( padding-top padding-bottom, $small, $large, 1rem, 1.5rem );
	background-color: $qicwd-tertiary-darker;
	color: #fff;
}

#mailchimp-signup-subscribe-block-subscribe-to-our-mailing-list-form {

	input[type=submit] {
		width: 100%;
	}
}