// .field-name-field-paragraph {
// 	p {
// 		&:first-of-type {
// 			font-size: $h3;
// 			line-height: calc(#{$h3} * #{$mod});
// 		}
// 	}
// }

.paragraphs-items {
	.content {
		max-width: 60rem;
		margin-left: auto;
		margin-right: auto;
		@include fluid-type( "padding-left", $small, $large, 1.5rem, 0 );
		@include fluid-type( "padding-right", $small, $large, 1.5rem, 0 );
	}
}

.entity-paragraphs-item {
	padding-top: $padding--default;
	padding-bottom: $padding--default;
}

// 2 column
// .content--two-column {
// 	justify-content: row wrap;

// 	.content__column {
// 		flex: 1 0 100%;
		
// 		@include breakpoint(sm) {
// 			flex-basis: 50%;
// 		}
// 	}
// }

// Responsive video embed
.file-video-oembed {
	.content {
		position: relative;
	    display: block;
	    height: 0;
	    padding: 0;
	    overflow: hidden;
		
		// 16 by 9
	    padding-bottom: 56.25%;
	}

	iframe {
		position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    height: 100%;
	    width: 100%;
	    border: 0;
	}
}

.paragraphs-item-full-width-image {
	padding-bottom: 0;

	.field-name-field-image {
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;

		img {
			width: 100vw;
			position: relative;
			left: 50%;
			right: 50%;
			margin-left: -50vw;
			margin-right: -50vw;
		}

	}
}

.paragraphs-item-text-and-media {
	.one-column {
			text-align: center;
	}

	.two-column {
		display: flex;
		flex-flow: row wrap;

		h2 {
			@include breakpoint(xs) {
				text-align: center;
			}
		}

		.content__column {
			flex: 1 0 100%;
			padding: 1em;
			
			@include breakpoint(sm) {
				flex-basis: 50%;
			}
		}

		.media--left & {
			.content__text {
				order: 2;
			}

			.content__media {
				order: 1;
			}
		}
	}
}

// Full width image band

.hero__container {
	position: relative;
	font-size: 1rem;
}

.hero__text {
	color: #fff;
	text-align: center;
	position: absolute;
	z-index: 2;
	@include absolutecenter();
	padding: 0 2em 2em;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.hero__overlay {
	background-color: rgba(0,0,0,0.5);
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
}
