// Search form on search results page

.page-search-content {
	.region-content {
		.search-form {
		    padding: 1.5em 2em;
		    background-color: $qicwd-tertiary-lighter;
		}
	}
}


// Search results display
.search-result__title {
	margin-bottom: 0;
    padding-top: 0;
    font-size: 1.1rem;
}

.view-mode-search_result {
	padding: 1.5em 2em;
	border-bottom: 1px solid $navbar-default-border;

	&:last-child {
		border-bottom: 0;
	}

	.field-name-field-profile-description {
		margin-top: 0.5em;
	}
}