.background--tertiary-lighter {
  background-color: $qicwd-tertiary-lighter;
}

.background--tertiary-darker {
  	background-color: $qicwd-tertiary-darker;
	color: #fff;
}

.background--primary {
  	background-color: $qicwd-primary;
	color: #fff;
}

.background--primary--lighter {
  	background-color: $qicwd-primary-lighter;
}

.background--secondary {
  	background-color: $qicwd-secondary;
	color: #fff;
}

.background--primary-lighter {
  	background-color: $qicwd-primary-lighter;
}

.background--secondary-light {
  	background-color: $qicwd-secondary-light;
}

.background--secondary-lighter {
  	background-color: $qicwd-secondary-lighter;
}

.background--gradient-map {
	color: #fff;
    background: $qicwd-secondary;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0), #4a4a67),linear-gradient(to bottom, #4a4a67, rgba(99,111,164,0.7), rgba(196,243,211,0.9), rgba(255,255,255,0)),url(/sites/default/files/qic-wd-site-map_0.png);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, rgba(0, 0, 0, 0), #4a4a67),linear-gradient(to bottom, #4a4a67, rgba(99,111,164,0.7), rgba(196,243,211,0.7), rgba(255,255,255,0.7)),url(/sites/default/files/qic-wd-site-map_0.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-top: 5em !important;
    padding-bottom: 5em !important;
    @media screen and (min-width:600px) {
    	padding-bottom: 15em !important;
    }

}

.text-xlarge {
	h2 {
		@include fluid-type( "font-size", $screen-md, $large, 2.5em, 3em );
	}
}

// Usage
.ellipsis {
  @include text-overflow();
}

.heading-center {
	h2 {
		text-align:center;
	}
}